/* 

*/


#logop {
    width: 50px;
    height: 50px;
}

a, a:visited {
    text-decoration: none;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.925);
    position: sticky;
}

.indice {
    display: flex;
    width: 60vh;
    justify-content: space-around;
    list-style: none;
}

/* Títulos */

h1 {
    color: rgb(66, 6, 6);
}

h2 {
    color: rgb(79, 42, 7);
    font-size: xx-large;
    align-self: flex-start;
}

h3 {
    color: rgb(27, 160, 217);
    font-size: 30px;
}

/* Contenido */ 

body {
    font-family: "Roboto Flex", sans-serif;
    font-size: 17px;
    background-color: rgba(249, 236, 211, 0.459);
    color: rgb(15, 13, 13);
}

main {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 98%;
}


.imagenes-noa {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.noa-dog{
    width: 350px;
    height: auto;
}

/* Medidas pet boxes*/

.pet-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pet-boxes section{
    display: flex;
    width: 95vw;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.pet-boxes section article{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vw;
    border: groove rgb(8, 8, 101);
    padding: 10px;
}

.pet-img {
    width: 300px;
    height: auto;
    align-self: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* Formulario adopcion */

.form-container {
    border: 2px solid rgb(8, 8, 101);
    padding: 10px;
    width: auto;
    border-radius: 8px;
    margin-right: 1rem;
    margin-top: 1rem;
}

/* Footer config */ 

footer {
    background-color: rgba(245, 245, 220, 0.925);
    padding: 15px;
    
}

.footer-title {
    color: rgb(9, 15, 122);
    font-size: 16px;
}

.footer-links {
    display: flex;
    gap: 7rem;
} 

.logo-red {
    height: 25px;
}

@media (max-width: 425px) {

    header {
        flex-direction: column;
        .indice { 
            margin-block-start: none;
            font-size: 14px;
            text-align: center;
            width: auto;
            gap: 1em;  
        }
        a, a:visited {
            text-decoration: none;}
        }

    main {
        margin-top: 1em;
        width: 90%;
    }

    .form-container {
        margin-right: auto;
    }

    .imagenes-noa {
        flex-direction: column;
        align-items: center;
    }

    /* Medidas pet boxes*/

    .pet-boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pet-boxes section{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 95vw;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    .pet-boxes section article{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border: groove rgb(8, 8, 101);
        padding: 10px;
    }

    .pet-img {
        width: 300px;
        height: auto;
        align-self: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

        footer {
            .footer-links {
            flex-wrap: wrap;
            gap: 2em;
            }
        }
    }

/* Pendiente de perfeccionar */

@media (min-width: 426px) and (max-width: 768px) {
    header {
        flex-direction: column;
        .indice { 
            font-size: 14px;
            text-align: center;
            width: auto;
            gap: 1em;  
        }
        a, a:visited {
            text-decoration: none;}
        }

    main {
        margin-top: 1em;
        width: 100%;
    }

    /* Medidas oet boxes */
    
    .pet-boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pet-boxes section{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 95vw;
        justify-content: space-around;
        align-items: center;
        margin: 10px;
    }

    .pet-boxes section article{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border: groove rgb(8, 8, 101);
        padding: 10px;
    }

    .pet-img {
        width: 300px;
        height: auto;
        align-self: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .form-container {
        margin-right: auto;
    }

    .imagenes-noa {
        flex-direction: column;
        align-items: center;
    }

    footer {
        .footer-links {
        flex-wrap: wrap;
        gap: 2em;
        }
    }
}

