@keyframes wpp {
  0% {
    transform: translate(0);
  }
  5% {
    transform: translate(50px);
  }
  10% {
    transform: translate(0);
  }
  15% {
    transform: translate(50px);
  }
  20% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pet-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pet-boxes .h2 {
  align-self: center;
}
.pet-boxes section {
  display: flex;
  width: 95vw;
  justify-content: space-around;
  align-items: stretch;
  margin: 10px;
}
.pet-boxes article {
  display: flex;
  flex-direction: column;
  width: 30vw;
  border: groove rgb(8, 8, 101);
  padding: 10px;
}
@media (max-width: 430px) {
  .pet-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pet-boxes section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 95vw;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
  }
  .pet-boxes article {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: groove rgb(8, 8, 101);
    padding: 10px;
  }
}
@media (min-width: 431px) and (max-width: 768px) {
  .pet-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pet-boxes section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 95vw;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
  }
  .pet-boxes article {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    border: groove rgb(8, 8, 101);
    padding: 10px;
  }
}
.pet-boxes .pet-img {
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 5px;
}
@media (max-width: 430px) {
  .pet-boxes .pet-img {
    padding: 5px;
    height: auto;
    width: 90%;
    align-self: center;
    margin-top: 2vh;
  }
}
@media (min-width: 431px) and (max-width: 768px) {
  .pet-boxes .pet-img {
    padding: 5px;
    height: auto;
    width: 90%;
    align-self: center;
    margin-top: 2vh;
  }
}

.form-container {
  border: 2px solid rgb(8, 8, 101);
  padding: 10px;
  width: 60%;
  justify-self: center;
  border-radius: 8px;
  margin-right: 1rem;
  margin-top: 1rem;
}
@media (max-width: 430px) {
  .form-container {
    width: 100%;
  }
}
@media (min-width: 431px) and (max-width: 768px) {
  .form-container {
    width: 80%;
  }
}
.form-container .w-50 {
  display: flex;
  justify-self: center;
}

.titulo {
  justify-self: center;
}

.titulo {
  justify-self: center;
}

.imagenes-noa {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 430px) {
  .imagenes-noa {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 431px) and (max-width: 768px) {
  .imagenes-noa {
    flex-direction: column;
    align-items: center;
  }
}
.imagenes-noa .noa-dog {
  width: 350px;
  height: auto;
  border-radius: 30px;
}

header {
  padding: 20px;
  background-color: rgba(245, 245, 220, 0.925);
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
}
header #logop {
  width: 50px;
  height: 50px;
}
header .indice {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-around;
  list-style: none;
}
header a, header a:visited {
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
header a:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(186, 186, 165, 0.925);
}
@media (max-width: 430px) {
  header {
    flex-direction: column;
  }
  header .indice {
    font-size: 14px;
    text-align: center;
    width: auto;
    gap: 1em;
  }
  header a, header a:visited {
    text-decoration: none;
  }
}
@media (min-width: 431px) and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header .indice {
    font-size: 14px;
    text-align: center;
    width: auto;
    gap: 1em;
  }
}

footer {
  background-color: rgba(245, 245, 220, 0.925);
  padding: 15px;
}
footer .footer-title {
  color: rgb(9, 15, 122);
  font-size: 16px;
}
footer .logo-red {
  height: 25px;
  width: auto;
  transition: transform 0.3s ease;
}
footer .logo-red:hover {
  transform: scale(1.2);
}
footer .wpp {
  height: 45px;
  width: auto;
  position: fixed;
  bottom: 50px;
  right: 50px;
  animation: wpp 4s infinite;
}
@media (max-width: 430px) {
  footer .wpp {
    height: 35px;
    position: fixed;
    bottom: 25px;
    right: 25px;
  }
}
@media (min-width: 431px) and (max-width: 768px) {
  footer .wpp {
    height: 40px;
    position: fixed;
    bottom: 25px;
    right: 25px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer .wpp {
    height: 40px;
    position: fixed;
    bottom: 25px;
    right: 25px;
  }
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 239, 230, 0.214);
  font-family: "Roboto Flex", sans-serif;
  font-size: 17px;
  color: rgb(37, 12, 12);
}

main {
  flex: 1;
}

h1 {
  color: rgb(66, 6, 6);
}

h2 {
  color: rgb(79, 42, 7);
  font-size: 36px;
  justify-self: flex-start;
}
@media (max-width: 430px) {
  h2 {
    font-size: xx-large;
  }
}

h3 {
  color: rgb(27, 160, 217);
  font-size: 30px;
}

main {
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 98%;
}
@media (max-width: 430px) {
  main {
    margin-top: 1em;
    width: 92%;
  }
}
@media (min-width: 431px) and (max-width: 768px) {
  main {
    margin-top: 1em;
    width: 92%;
  }
}

/*# sourceMappingURL=styles.css.map */
